* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  overflow: hidden;
}

.wrapper {
  background: #F6ECE7;
  height: 100vh;
  padding: 50px 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}

.logo-link {
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: logo-link 3s infinite;
          animation: logo-link 3s infinite;
}
.logo-link img {
  background: none;
  width: 200px;
}
.logo-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

@-webkit-keyframes logo-link {
  0% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
}

@keyframes logo-link {
  0% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
}
.flazma-logo {
  border-radius: 50px;
  width: 330px;
  height: 100px;
  border: 16px solid #FFBF9E;
}

@media (min-width: 1700px) {
  .main {
    gap: 80px;
  }
  .logo-link img {
    width: 288px;
  }
  .flazma-logo {
    border-radius: 50px;
    width: 430px;
    height: 120px;
    border: 16px solid #FFBF9E;
  }
}
@media (min-width: 2500px) {
  .wrapper {
    padding: 100px 0;
  }
  .main {
    gap: 250px;
  }
  .logo-link img {
    width: 508px;
  }
  .flazma-logo {
    border-radius: 50px;
    width: 650px;
    height: 200px;
    border: 20px solid #FFBF9E;
  }
  .logo-brands {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 180px;
  }
}
@media (min-width: 3500px) {
  .wrapper {
    padding: 200px 0;
  }
  .main {
    gap: 450px;
  }
  .logo-link img {
    width: 708px;
  }
  .flazma-logo {
    border-radius: 50px;
    width: 850px;
    height: 250px;
    border: 20px solid #FFBF9E;
  }
  .logo-brands {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 400px;
  }
}
@media (max-width: 600px) {
  .main {
    gap: 50px;
  }
  .logo-brands {
    gap: 80px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .logo-link img {
    width: 220px;
  }
}
@media (max-width: 400px) {
  .main {
    gap: 60px;
  }
  .logo-link {
    background: none;
  }
  .logo-link img {
    background: none;
    width: 148px;
  }
  .flazma-logo {
    border-radius: 50px;
    width: 230px;
    height: 70px;
    border: 12px solid #FFBF9E;
  }
}