@import "nullstyle.scss";

body{
   overflow: hidden;
}

// Main



.wrapper {
    background: #F6ECE7;
    height: 100vh;
    padding: 50px 0 ;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}


.logo-link {
    background: none;
    transition: all .3s ease-in-out;
    animation: logo-link 3s infinite;
    img{
        background: none;
        width: 200px;
    }
    &:hover{
        transform: scale(1.05);
    }
}

.logo-brands{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
@keyframes logo-link{
    0%{
        transform: scale(1.07);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.07);
    }
}

.flazma-logo{
    border-radius: 50px;
    width: 330px;
    height: 100px;
    border: 16px solid #FFBF9E;

}




















@import "media.scss";
